In [1]:
import pandas as pd
import csv
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV

In [2]:
# Reading TV Time CSV Data
tvshows_df = pd.read_csv("Data/tvtimeshows.csv")
tvshows_df.head()

,id,name,followers,nb_rates,runtime,number_of_seasons,network,mean_rate,poster_image,seasons
0,288128,X-Ray & Vav,230,10,9,2,Rooster Teeth,4.20,https://dg31sz3gwrwan.cloudfront.net/poster/28...,"[{'number': 1, 'nb_episodes': 4}, {'number': 2..."
1,313803,Sister's Slam Dunk,1298,100,80,2,KBS TV2,4.25,https://dg31sz3gwrwan.cloudfront.net/poster/31...,"[{'number': 1, 'nb_episodes': 33}, {'number': ..."
2,325462,Reverse,270,15,60,1,Tokyo Broadcasting System,4.63,https://dg31sz3gwrwan.cloudfront.net/poster/32...,"[{'number': 1, 'nb_episodes': 10}]"
3,325198,Frame Arms Girl,900,24,25,1,Tokyo MX,3.54,https://dg31sz3gwrwan.cloudfront.net/poster/32...,"[{'number': 1, 'nb_episodes': 12}]"
4,349743,Mr Inbetween,7123,118,25,2,FX,4.42,https://dg31sz3gwrwan.cloudfront.net/poster/34...,"[{'number': 1, 'nb_episodes': 6}, {'number': 2..."

In [3]:
tvshows_df["network"].value_counts().head(10)

YouTube     715
Netflix     656
Tokyo MX    540
ABC (US)    495
TV Tokyo    451
NBC         429
BBC One     405
CBS         393
Fuji TV     336
FOX         288
Name: network, dtype: int64

In [4]:
# Reading All Episodes CSV Data
episode_df = pd.read_csv("Data/all_episodes.csv")
episode_df.head()

,show_id,episode_id,time,episode,title,description,rating,times_watched,mood-good,mood-fun,mood-wow,mood-sad,mood-so-so,mood-bad
0,315103,5697528,2016-10-05T03:00,S01E01,Idiots with Numbers!,Idiots with Numbers! (S01E01) is the first epi...,9.48,12307.0,175.0,388.0,136.0,1.0,16.0,3.0
1,315103,5774664,2016-10-12T03:00,S01E02,The Inmates Are Stupid! The Guards Are Kind of...,The Inmates Are Stupid! The Guards Are Kind of...,9.52,11423.0,156.0,349.0,82.0,0.0,5.0,3.0
2,315103,5774665,2016-10-19T03:00,S01E03,Another Idiot Has Come!!,Another Idiot Has Come!! (S01E03) is the third...,9.36,11067.0,145.0,339.0,63.0,0.0,7.0,1.0
3,315103,5774666,2016-10-26T03:00,S01E04,Happy New Year! The New Year's Tournament Is W...,Happy New Year! The New Year's Tournament Is W...,8.36,10552.0,134.0,270.0,109.0,0.0,3.0,3.0
4,315103,5774667,2016-11-02T03:00,S01E05,A Fraud and a Hero,A Fraud and a Hero (S01E05) is the fifth episo...,8.94,10340.0,106.0,183.0,223.0,1.0,2.0,2.0

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
# Merging both dataframe on Show Id
merged_df = pd.merge(episode_df, tvshows_df, how="inner", left_on="show_id", right_on="id")
merged_df.head()

,show_id,episode_id,time,episode,title,description,rating,times_watched,mood-good,mood-fun,mood-wow,mood-sad,mood-so-so,mood-bad,id,name,followers,nb_rates,runtime,number_of_seasons,network,mean_rate,poster_image,seasons
0,315103,5697528,2016-10-05T03:00,S01E01,Idiots with Numbers!,Idiots with Numbers! (S01E01) is the first epi...,9.48,12307.0,175.0,388.0,136.0,1.0,16.0,3.0,315103,Nanbaka,16617,620,25,2,MBS,4.57,https://dg31sz3gwrwan.cloudfront.net/poster/31...,"[{'number': 1, 'nb_episodes': 13}, {'number': ..."
1,315103,5774664,2016-10-12T03:00,S01E02,The Inmates Are Stupid! The Guards Are Kind of...,The Inmates Are Stupid! The Guards Are Kind of...,9.52,11423.0,156.0,349.0,82.0,0.0,5.0,3.0,315103,Nanbaka,16617,620,25,2,MBS,4.57,https://dg31sz3gwrwan.cloudfront.net/poster/31...,"[{'number': 1, 'nb_episodes': 13}, {'number': ..."
2,315103,5774665,2016-10-19T03:00,S01E03,Another Idiot Has Come!!,Another Idiot Has Come!! (S01E03) is the third...,9.36,11067.0,145.0,339.0,63.0,0.0,7.0,1.0,315103,Nanbaka,16617,620,25,2,MBS,4.57,https://dg31sz3gwrwan.cloudfront.net/poster/31...,"[{'number': 1, 'nb_episodes': 13}, {'number': ..."
3,315103,5774666,2016-10-26T03:00,S01E04,Happy New Year! The New Year's Tournament Is W...,Happy New Year! The New Year's Tournament Is W...,8.36,10552.0,134.0,270.0,109.0,0.0,3.0,3.0,315103,Nanbaka,16617,620,25,2,MBS,4.57,https://dg31sz3gwrwan.cloudfront.net/poster/31...,"[{'number': 1, 'nb_episodes': 13}, {'number': ..."
4,315103,5774667,2016-11-02T03:00,S01E05,A Fraud and a Hero,A Fraud and a Hero (S01E05) is the fifth episo...,8.94,10340.0,106.0,183.0,223.0,1.0,2.0,2.0,315103,Nanbaka,16617,620,25,2,MBS,4.57,https://dg31sz3gwrwan.cloudfront.net/poster/31...,"[{'number': 1, 'nb_episodes': 13}, {'number': ..."

In [7]:
merged_df["network"].value_counts().head(20)

Rede Globo                26076
YouTube                   20754
TV Tokyo                  12529
Canal de las Estrellas    10343
CBS                        9075
NBC                        8324
Fuji TV                    8177
MBC                        8002
ABC (US)                   7843
Tokyo MX                   7062
Telemundo                  6716
TV Asahi                   6322
KBS TV2                    5920
Netflix                    5384
SBS (KR)                   5082
FOX                        4771
Cartoon Network            4721
TF1                        4642
SBT                        4431
TVN                        4045
Name: network, dtype: int64

In [8]:
# Reading only American Network Names and sorting it by count of titles
us_network = pd.read_csv("Data/network_names.csv")
us_network = us_network.sort_values(by='Count of title', ascending=False, ignore_index=True)
us_network

           USA Networks  Count of title
0                   CBS            9075
1                   NBC            8324
2              ABC (US)            7843
3               Netflix            5384
4                   FOX            4771
5       Cartoon Network            4721
6           Nickelodeon            4147
7        Disney Channel            2803
8               BBC One            2754
9                   PBS            2661
10                  HBO            1768
11                  MTV            1625
12              BBC Two            1464
13                 Syfy            1343
14            Discovery            1298
15                  TLC            1259
16            Disney XD            1233
17              History            1172
18               The CW            1111
19       Comedy Central            1080
20                WOWOW            1031
21                  A&E            1017
22               Amazon             998
23          USA Network             849
24                Bravo             836
25             Lifetime             765
26  National Geographic             719
27                  VH1             711
28                   E!             707
29           Adult Swim             634
30             TNT (US)             611
31       Travel Channel             610
32                 Hulu             601
33         Food Network             552
34          Toon Disney             522
35            BBC Three             520
36          WWE Network             516
37           ABC Family             512
38                   FX             496
39        Animal Planet             488
40                  ABC             461
41                  BET             451
42                  AMC             310
43                   E4             259
44     Hallmark Channel             255
45              Disney+             227
46             BBC Four             178
47              CW Seed             148
48       Warner Channel             119
49                  BBC              99
50          BBC America              93
51            Apple TV+              82
52    Discovery Channel              62
53  Smithsonian Channel              36

In [9]:
# Top 15 American Networks
top_us = us_network.head(15)
top_us

       USA Networks  Count of title
0               CBS            9075
1               NBC            8324
2          ABC (US)            7843
3           Netflix            5384
4               FOX            4771
5   Cartoon Network            4721
6       Nickelodeon            4147
7    Disney Channel            2803
8           BBC One            2754
9               PBS            2661
10              HBO            1768
11              MTV            1625
12          BBC Two            1464
13             Syfy            1343
14        Discovery            1298

In [48]:
# Inner Merge on Merged Dataframe and Top 15 American Network Data
merged_us_data = pd.merge(merged_df, us_network, how="inner", left_on="network", right_on="USA Networks")
merged_us_data

,show_id,episode_id,time,episode,title,description,rating,times_watched,mood-good,mood-fun,mood-wow,mood-sad,mood-so-so,mood-bad,id,name,followers,nb_rates,runtime,number_of_seasons,network,mean_rate,poster_image,seasons,USA Networks,Count of title
0,79029,375789,2005-11-07T21:30,S01E01,Much Ado About Nothing,Much Ado About Nothing (S01E01) is the first e...,NaN,74.0,5.0,3.0,5.0,0.0,0.0,0.0,79029,ShakespeaRe-Told,242,8,120,1,BBC One,3.4,https://dg31sz3gwrwan.cloudfront.net/poster/79...,"[{'number': 1, 'nb_episodes': 4}]",BBC One,2754
1,79029,375790,2005-11-14T21:30,S01E02,Macbeth,Macbeth (S01E02) is the second episode of seas...,NaN,94.0,14.0,0.0,5.0,0.0,2.0,0.0,79029,ShakespeaRe-Told,242,8,120,1,BBC One,3.4,https://dg31sz3gwrwan.cloudfront.net/poster/79...,"[{'number': 1, 'nb_episodes': 4}]",BBC One,2754
2,79029,375791,2005-11-21T21:30,S01E03,The Taming of the Shrew,The Taming of the Shrew (S01E03) is the third ...,NaN,76.0,6.0,1.0,2.0,0.0,2.0,1.0,79029,ShakespeaRe-Told,242,8,120,1,BBC One,3.4,https://dg31sz3gwrwan.cloudfront.net/poster/79...,"[{'number': 1, 'nb_episodes': 4}]",BBC One,2754
3,79029,375792,2005-11-28T21:30,S01E04,A Midsummer Night's Dream,A Midsummer Night's Dream (S01E04) is the four...,NaN,66.0,4.0,0.0,0.0,0.0,4.0,0.0,79029,ShakespeaRe-Told,242,8,120,1,BBC One,3.4,https://dg31sz3gwrwan.cloudfront.net/poster/79...,"[{'number': 1, 'nb_episodes': 4}]",BBC One,2754
4,251999,4173236,2011-02-21T01:00,S01E01,The Mammy,The Mammy (S01E01) is the first episode of sea...,NaN,58.0,1.0,0.0,0.0,0.0,0.0,0.0,251999,Mrs. Brown's Boys,193,9,180,1,BBC One,3.0,https://d36rlb2fgh8cjd.cloudfront.net/default-...,"[{'number': 1, 'nb_episodes': 6}]",BBC One,2754
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81534,252486,4183419,T21:00,S01E08,NaN,S01E08 is the eighth episode of season one of ...,NaN,76.0,0.0,0.0,0.0,0.0,0.0,0.0,252486,Dual Survival,458,1,1,2,Discovery Channel,0.0,https://dg31sz3gwrwan.cloudfront.net/poster/25...,"[{'number': 1, 'nb_episodes': 10}, {'number': ...",Discovery Channel,62
81535,252486,4183421,T21:00,S01E09,NaN,"S01E09 is the ninth episode of season one of ""...",NaN,76.0,0.0,0.0,0.0,0.0,0.0,0.0,252486,Dual Survival,458,1,1,2,Discovery Channel,0.0,https://dg31sz3gwrwan.cloudfront.net/poster/25...,"[{'number': 1, 'nb_episodes': 10}, {'number': ...",Discovery Channel,62
81536,252486,4183422,T21:00,S01E10,NaN,"S01E10 is the tenth episode of season one of ""...",NaN,76.0,0.0,0.0,0.0,0.0,0.0,0.0,252486,Dual Survival,458,1,1,2,Discovery Channel,0.0,https://dg31sz3gwrwan.cloudfront.net/poster/25...,"[{'number': 1, 'nb_episodes': 10}, {'number': ...",Discovery Channel,62
81537,248584,4098218,2011-01-27T20:00,S01E01,Volume 1,Volume 1 (S01E01) is the first episode of sea...,NaN,38.0,3.0,0.0,0.0,0.0,0.0,0.0,248584,Time Paladin Sakura,167,6,25,1,Discovery Channel,3.0,https://dg31sz3gwrwan.cloudfront.net/poster/24...,"[{'number': 1, 'nb_episodes': 2}]",Discovery Channel,62
81538,248584,4098219,2011-02-24T20:00,S01E02,Volume 2,Volume 2 (S01E02) is the second episode of sea...,NaN,37.0,3.0,0.0,0.0,0.0,0.0,0.0,248584,Time Paladin Sakura,167,6,25,1,Discovery Channel,3.0,https://dg31sz3gwrwan.cloudfront.net/poster/24...,"[{'number': 1, 'nb_episodes': 2}]",Discovery Channel,62

In [10]:
# Inner Merge on Merged Dataframe and Top 15 American Network Data
top_us_data = pd.merge(merged_df, top_us, how="inner", left_on="network", right_on="USA Networks")
top_us_data

,show_id,episode_id,time,episode,title,description,rating,times_watched,mood-good,mood-fun,mood-wow,mood-sad,mood-so-so,mood-bad,id,name,followers,nb_rates,runtime,number_of_seasons,network,mean_rate,poster_image,seasons,USA Networks,Count of title
0,79029,375789,2005-11-07T21:30,S01E01,Much Ado About Nothing,Much Ado About Nothing (S01E01) is the first e...,NaN,74.0,5.0,3.0,5.0,0.0,0.0,0.0,79029,ShakespeaRe-Told,242,8,120,1,BBC One,3.40,https://dg31sz3gwrwan.cloudfront.net/poster/79...,"[{'number': 1, 'nb_episodes': 4}]",BBC One,2754
1,79029,375790,2005-11-14T21:30,S01E02,Macbeth,Macbeth (S01E02) is the second episode of seas...,NaN,94.0,14.0,0.0,5.0,0.0,2.0,0.0,79029,ShakespeaRe-Told,242,8,120,1,BBC One,3.40,https://dg31sz3gwrwan.cloudfront.net/poster/79...,"[{'number': 1, 'nb_episodes': 4}]",BBC One,2754
2,79029,375791,2005-11-21T21:30,S01E03,The Taming of the Shrew,The Taming of the Shrew (S01E03) is the third ...,NaN,76.0,6.0,1.0,2.0,0.0,2.0,1.0,79029,ShakespeaRe-Told,242,8,120,1,BBC One,3.40,https://dg31sz3gwrwan.cloudfront.net/poster/79...,"[{'number': 1, 'nb_episodes': 4}]",BBC One,2754
3,79029,375792,2005-11-28T21:30,S01E04,A Midsummer Night's Dream,A Midsummer Night's Dream (S01E04) is the four...,NaN,66.0,4.0,0.0,0.0,0.0,4.0,0.0,79029,ShakespeaRe-Told,242,8,120,1,BBC One,3.40,https://dg31sz3gwrwan.cloudfront.net/poster/79...,"[{'number': 1, 'nb_episodes': 4}]",BBC One,2754
4,251999,4173236,2011-02-21T01:00,S01E01,The Mammy,The Mammy (S01E01) is the first episode of sea...,NaN,58.0,1.0,0.0,0.0,0.0,0.0,0.0,251999,Mrs. Brown's Boys,193,9,180,1,BBC One,3.00,https://d36rlb2fgh8cjd.cloudfront.net/default-...,"[{'number': 1, 'nb_episodes': 6}]",BBC One,2754
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59576,262184,4392610,2008-10-19T22:00,S2008E03,The Last Enemy (3),The Last Enemy (3) (S2008E03) is the third epi...,NaN,21.0,0.0,0.0,0.0,0.0,0.0,0.0,262184,Masterpiece Contemporary,307,2,90,4,PBS,0.19,https://dg31sz3gwrwan.cloudfront.net/poster/26...,"[{'number': 2008, 'nb_episodes': 7}, {'number'...",PBS,2661
59577,262184,4392611,2008-10-26T22:00,S2008E04,The Last Enemy (4),The Last Enemy (4) (S2008E04) is the fourth ep...,NaN,21.0,0.0,0.0,0.0,0.0,0.0,0.0,262184,Masterpiece Contemporary,307,2,90,4,PBS,0.19,https://dg31sz3gwrwan.cloudfront.net/poster/26...,"[{'number': 2008, 'nb_episodes': 7}, {'number'...",PBS,2661
59578,262184,4392612,2008-11-02T22:00,S2008E05,The Last Enemy (5),The Last Enemy (5) (S2008E05) is the fifth epi...,NaN,21.0,0.0,0.0,0.0,0.0,0.0,0.0,262184,Masterpiece Contemporary,307,2,90,4,PBS,0.19,https://dg31sz3gwrwan.cloudfront.net/poster/26...,"[{'number': 2008, 'nb_episodes': 7}, {'number'...",PBS,2661
59579,262184,4392613,2008-11-09T22:00,S2008E06,God on Trial,God on Trial (S2008E06) is the sixth episode o...,NaN,19.0,0.0,0.0,0.0,0.0,0.0,0.0,262184,Masterpiece Contemporary,307,2,90,4,PBS,0.19,https://dg31sz3gwrwan.cloudfront.net/poster/26...,"[{'number': 2008, 'nb_episodes': 7}, {'number'...",PBS,2661
59580,262184,4392614,2008-11-16T22:00,S2008E07,Filth,Filth (S2008E07) is the seventh episode of sea...,NaN,19.0,0.0,0.0,0.0,0.0,0.0,0.0,262184,Masterpiece Contemporary,307,2,90,4,PBS,0.19,https://dg31sz3gwrwan.cloudfront.net/poster/26...,"[{'number': 2008, 'nb_episodes': 7}, {'number'...",PBS,2661

In [11]:
# Dropping columns that are not required
us_df1 = top_us_data.drop(columns=['id', 'USA Networks', 'Count of title', 'description'])
us_df1

,show_id,episode_id,time,episode,title,rating,times_watched,mood-good,mood-fun,mood-wow,mood-sad,mood-so-so,mood-bad,name,followers,nb_rates,runtime,number_of_seasons,network,mean_rate,poster_image,seasons
0,79029,375789,2005-11-07T21:30,S01E01,Much Ado About Nothing,NaN,74.0,5.0,3.0,5.0,0.0,0.0,0.0,ShakespeaRe-Told,242,8,120,1,BBC One,3.40,https://dg31sz3gwrwan.cloudfront.net/poster/79...,"[{'number': 1, 'nb_episodes': 4}]"
1,79029,375790,2005-11-14T21:30,S01E02,Macbeth,NaN,94.0,14.0,0.0,5.0,0.0,2.0,0.0,ShakespeaRe-Told,242,8,120,1,BBC One,3.40,https://dg31sz3gwrwan.cloudfront.net/poster/79...,"[{'number': 1, 'nb_episodes': 4}]"
2,79029,375791,2005-11-21T21:30,S01E03,The Taming of the Shrew,NaN,76.0,6.0,1.0,2.0,0.0,2.0,1.0,ShakespeaRe-Told,242,8,120,1,BBC One,3.40,https://dg31sz3gwrwan.cloudfront.net/poster/79...,"[{'number': 1, 'nb_episodes': 4}]"
3,79029,375792,2005-11-28T21:30,S01E04,A Midsummer Night's Dream,NaN,66.0,4.0,0.0,0.0,0.0,4.0,0.0,ShakespeaRe-Told,242,8,120,1,BBC One,3.40,https://dg31sz3gwrwan.cloudfront.net/poster/79...,"[{'number': 1, 'nb_episodes': 4}]"
4,251999,4173236,2011-02-21T01:00,S01E01,The Mammy,NaN,58.0,1.0,0.0,0.0,0.0,0.0,0.0,Mrs. Brown's Boys,193,9,180,1,BBC One,3.00,https://d36rlb2fgh8cjd.cloudfront.net/default-...,"[{'number': 1, 'nb_episodes': 6}]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59576,262184,4392610,2008-10-19T22:00,S2008E03,The Last Enemy (3),NaN,21.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,2,90,4,PBS,0.19,https://dg31sz3gwrwan.cloudfront.net/poster/26...,"[{'number': 2008, 'nb_episodes': 7}, {'number'..."
59577,262184,4392611,2008-10-26T22:00,S2008E04,The Last Enemy (4),NaN,21.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,2,90,4,PBS,0.19,https://dg31sz3gwrwan.cloudfront.net/poster/26...,"[{'number': 2008, 'nb_episodes': 7}, {'number'..."
59578,262184,4392612,2008-11-02T22:00,S2008E05,The Last Enemy (5),NaN,21.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,2,90,4,PBS,0.19,https://dg31sz3gwrwan.cloudfront.net/poster/26...,"[{'number': 2008, 'nb_episodes': 7}, {'number'..."
59579,262184,4392613,2008-11-09T22:00,S2008E06,God on Trial,NaN,19.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,2,90,4,PBS,0.19,https://dg31sz3gwrwan.cloudfront.net/poster/26...,"[{'number': 2008, 'nb_episodes': 7}, {'number'..."
59580,262184,4392614,2008-11-16T22:00,S2008E07,Filth,NaN,19.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,2,90,4,PBS,0.19,https://dg31sz3gwrwan.cloudfront.net/poster/26...,"[{'number': 2008, 'nb_episodes': 7}, {'number'..."

In [12]:
us_df1.dtypes

show_id                int64
episode_id             int64
time                  object
episode               object
title                 object
rating               float64
times_watched        float64
mood-good            float64
mood-fun             float64
mood-wow             float64
mood-sad             float64
mood-so-so           float64
mood-bad             float64
name                  object
followers              int64
nb_rates               int64
runtime                int64
number_of_seasons      int64
network               object
mean_rate            float64
poster_image          object
seasons               object
dtype: object

In [13]:
# Converting Object datatype of Time column to String
us_df1['time'] = us_df1['time'].astype('string')

In [14]:
# Parsing timeslot from the time data using string split function
us_df1['timeslot'] = us_df1['time'].str.split(pat='T').str[1]

In [15]:
# Parsing year from the time data using string split function
year = us_df1['time'].str.split(pat='T').str[0]
us_df1['year'] = year.str.split(pat='-').str[0]

In [16]:
us_df1.head()

,show_id,episode_id,time,episode,title,rating,times_watched,mood-good,mood-fun,mood-wow,mood-sad,mood-so-so,mood-bad,name,followers,nb_rates,runtime,number_of_seasons,network,mean_rate,poster_image,seasons,timeslot,year
0,79029,375789,2005-11-07T21:30,S01E01,Much Ado About Nothing,NaN,74.0,5.0,3.0,5.0,0.0,0.0,0.0,ShakespeaRe-Told,242,8,120,1,BBC One,3.4,https://dg31sz3gwrwan.cloudfront.net/poster/79...,"[{'number': 1, 'nb_episodes': 4}]",21:30,2005
1,79029,375790,2005-11-14T21:30,S01E02,Macbeth,NaN,94.0,14.0,0.0,5.0,0.0,2.0,0.0,ShakespeaRe-Told,242,8,120,1,BBC One,3.4,https://dg31sz3gwrwan.cloudfront.net/poster/79...,"[{'number': 1, 'nb_episodes': 4}]",21:30,2005
2,79029,375791,2005-11-21T21:30,S01E03,The Taming of the Shrew,NaN,76.0,6.0,1.0,2.0,0.0,2.0,1.0,ShakespeaRe-Told,242,8,120,1,BBC One,3.4,https://dg31sz3gwrwan.cloudfront.net/poster/79...,"[{'number': 1, 'nb_episodes': 4}]",21:30,2005
3,79029,375792,2005-11-28T21:30,S01E04,A Midsummer Night's Dream,NaN,66.0,4.0,0.0,0.0,0.0,4.0,0.0,ShakespeaRe-Told,242,8,120,1,BBC One,3.4,https://dg31sz3gwrwan.cloudfront.net/poster/79...,"[{'number': 1, 'nb_episodes': 4}]",21:30,2005
4,251999,4173236,2011-02-21T01:00,S01E01,The Mammy,NaN,58.0,1.0,0.0,0.0,0.0,0.0,0.0,Mrs. Brown's Boys,193,9,180,1,BBC One,3.0,https://d36rlb2fgh8cjd.cloudfront.net/default-...,"[{'number': 1, 'nb_episodes': 6}]",01:00,2011

In [17]:
del us_df1['time']
del us_df1['rating']
del us_df1['poster_image']
del us_df1['seasons']

In [18]:
us_df1

,show_id,episode_id,episode,title,times_watched,mood-good,mood-fun,mood-wow,mood-sad,mood-so-so,mood-bad,name,followers,nb_rates,runtime,number_of_seasons,network,mean_rate,timeslot,year
0,79029,375789,S01E01,Much Ado About Nothing,74.0,5.0,3.0,5.0,0.0,0.0,0.0,ShakespeaRe-Told,242,8,120,1,BBC One,3.40,21:30,2005
1,79029,375790,S01E02,Macbeth,94.0,14.0,0.0,5.0,0.0,2.0,0.0,ShakespeaRe-Told,242,8,120,1,BBC One,3.40,21:30,2005
2,79029,375791,S01E03,The Taming of the Shrew,76.0,6.0,1.0,2.0,0.0,2.0,1.0,ShakespeaRe-Told,242,8,120,1,BBC One,3.40,21:30,2005
3,79029,375792,S01E04,A Midsummer Night's Dream,66.0,4.0,0.0,0.0,0.0,4.0,0.0,ShakespeaRe-Told,242,8,120,1,BBC One,3.40,21:30,2005
4,251999,4173236,S01E01,The Mammy,58.0,1.0,0.0,0.0,0.0,0.0,0.0,Mrs. Brown's Boys,193,9,180,1,BBC One,3.00,01:00,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59576,262184,4392610,S2008E03,The Last Enemy (3),21.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,2,90,4,PBS,0.19,22:00,2008
59577,262184,4392611,S2008E04,The Last Enemy (4),21.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,2,90,4,PBS,0.19,22:00,2008
59578,262184,4392612,S2008E05,The Last Enemy (5),21.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,2,90,4,PBS,0.19,22:00,2008
59579,262184,4392613,S2008E06,God on Trial,19.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,2,90,4,PBS,0.19,22:00,2008
59580,262184,4392614,S2008E07,Filth,19.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,2,90,4,PBS,0.19,22:00,2008

In [47]:
us_df1['network'].value_counts()

CBS                9075
NBC                8324
ABC (US)           7843
Netflix            5384
FOX                4771
Cartoon Network    4721
Nickelodeon        3982
Disney Channel     2790
PBS                2661
BBC One            2658
HBO                1768
MTV                1625
Syfy               1343
BBC Two            1338
Discovery          1298
Name: network, dtype: int64

In [19]:
us_df1.to_csv("US_Data/top15networks.csv")

In [20]:
us_df2 = us_df1.loc[(us_df1['runtime'] >= 15) & (us_df1['runtime'] <= 90)]
us_df2

,show_id,episode_id,episode,title,times_watched,mood-good,mood-fun,mood-wow,mood-sad,mood-so-so,mood-bad,name,followers,nb_rates,runtime,number_of_seasons,network,mean_rate,timeslot,year
10,348204,7380549,S01E01,Episode 1,2859.0,60.0,0.0,13.0,0.0,5.0,0.0,The War of the Worlds,12893,0,60,1,BBC One,0.00,21:00,2019
11,348204,7380550,S01E02,Episode 2,1879.0,41.0,0.0,7.0,0.0,6.0,0.0,The War of the Worlds,12893,0,60,1,BBC One,0.00,21:00,
12,348204,7380551,S01E03,Episode 3,1082.0,18.0,0.0,1.0,1.0,4.0,1.0,The War of the Worlds,12893,0,60,1,BBC One,0.00,21:00,
13,76332,435387,S01E01,Part 1,184.0,13.0,1.0,4.0,3.0,1.0,0.0,David Copperfield (1999),325,16,90,1,BBC One,3.72,19:00,1999
14,76332,435388,S01E02,Part 2,173.0,12.0,1.0,2.0,0.0,1.0,1.0,David Copperfield (1999),325,16,90,1,BBC One,3.72,19:00,1999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59576,262184,4392610,S2008E03,The Last Enemy (3),21.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,2,90,4,PBS,0.19,22:00,2008
59577,262184,4392611,S2008E04,The Last Enemy (4),21.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,2,90,4,PBS,0.19,22:00,2008
59578,262184,4392612,S2008E05,The Last Enemy (5),21.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,2,90,4,PBS,0.19,22:00,2008
59579,262184,4392613,S2008E06,God on Trial,19.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,2,90,4,PBS,0.19,22:00,2008
59580,262184,4392614,S2008E07,Filth,19.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,2,90,4,PBS,0.19,22:00,2008

In [21]:
us_df2.isnull().sum(axis=0)

show_id                0
episode_id             0
episode                1
title                470
times_watched         88
mood-good              1
mood-fun               1
mood-wow               1
mood-sad               1
mood-so-so             1
mood-bad               1
name                   0
followers              0
nb_rates               0
runtime                0
number_of_seasons      0
network                0
mean_rate              0
timeslot               1
year                   1
dtype: int64

In [46]:
us_df2['network'].value_counts()

CBS                8528
NBC                8016
ABC (US)           7418
Netflix            5074
FOX                4577
Nickelodeon        3041
Cartoon Network    2759
BBC One            2569
PBS                2337
Disney Channel     2096
HBO                1671
MTV                1558
Discovery          1263
Syfy               1256
BBC Two            1249
Name: network, dtype: int64

In [23]:
# pd.set_option('display.max_rows', None)
us_df2.loc[us_df2['runtime'] == 15].sort_values(by="runtime")

,show_id,episode_id,episode,title,times_watched,mood-good,mood-fun,mood-wow,mood-sad,mood-so-so,mood-bad,name,followers,nb_rates,runtime,number_of_seasons,network,mean_rate,timeslot,year
87,73854,130895,S01E01,Pat's Finding Day,480.0,2.0,0.0,1.0,0.0,0.0,0.0,Postman Pat,466,13,15,8,BBC One,4.44,00:00,1981
47197,297291,5459576,S01E131,Rien de personnel,54.0,1.0,0.0,0.0,0.0,0.0,0.0,Peanuts (2014),254,7,15,1,Cartoon Network,3.56,10:00,2015
47196,297291,5263348,S01E130,Love story,54.0,1.0,0.0,0.0,0.0,0.0,0.0,Peanuts (2014),254,7,15,1,Cartoon Network,3.56,10:00,2015
47195,297291,5459575,S01E129,Faisons le point,54.0,1.0,0.0,0.0,0.0,0.0,0.0,Peanuts (2014),254,7,15,1,Cartoon Network,3.56,10:00,2015
47194,297291,5459574,S01E128,Pourparlers,54.0,1.0,0.0,0.0,0.0,0.0,0.0,Peanuts (2014),254,7,15,1,Cartoon Network,3.56,10:00,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38377,74149,1182881,S01E21,"Up, Up, and a Koopa",246.0,2.0,2.0,0.0,0.0,0.0,0.0,The Adventures of Super Mario Bros. 3,501,17,15,1,NBC,3.06,11:30,1990
38376,74149,1182871,S01E20,Life's Ruff,249.0,2.0,2.0,0.0,0.0,0.0,0.0,The Adventures of Super Mario Bros. 3,501,17,15,1,NBC,3.06,11:30,1990
38375,74149,1182861,S01E19,Crimes R Us,248.0,4.0,1.0,0.0,0.0,0.0,0.0,The Adventures of Super Mario Bros. 3,501,17,15,1,NBC,3.06,11:30,1990
39337,267198,4508450,S01E04,Casper's Camp-Out,156.0,2.0,0.0,0.0,0.0,0.0,0.0,Casper and the Angels,235,1,15,1,NBC,3.00,00:00,1979
59508,116291,4105863,S01E80,Troodon Train Day,570.0,1.0,0.0,0.0,0.0,0.0,0.0,Dinosaur Train,959,11,15,5,PBS,4.54,13:00,2011

In [24]:
us_df2[us_df2['name'].str.contains('CMA', regex=False)].count()

show_id              79
episode_id           79
episode              79
title                79
times_watched        78
mood-good            79
mood-fun             79
mood-wow             79
mood-sad             79
mood-so-so           79
mood-bad             79
name                 79
followers            79
nb_rates             79
runtime              79
number_of_seasons    79
network              79
mean_rate            79
timeslot             79
year                 79
dtype: int64

### Supervised Machine Learning - Data Pre Processing

In [25]:
ml_df = us_df1[["show_id","times_watched", 
                       "mood-good", "mood-fun", "mood-wow", "mood-sad", "mood-so-so", "mood-bad", 
                       "name", "followers", "runtime", "network"]]
ml_df

,show_id,times_watched,mood-good,mood-fun,mood-wow,mood-sad,mood-so-so,mood-bad,name,followers,runtime,network
0,79029,74.0,5.0,3.0,5.0,0.0,0.0,0.0,ShakespeaRe-Told,242,120,BBC One
1,79029,94.0,14.0,0.0,5.0,0.0,2.0,0.0,ShakespeaRe-Told,242,120,BBC One
2,79029,76.0,6.0,1.0,2.0,0.0,2.0,1.0,ShakespeaRe-Told,242,120,BBC One
3,79029,66.0,4.0,0.0,0.0,0.0,4.0,0.0,ShakespeaRe-Told,242,120,BBC One
4,251999,58.0,1.0,0.0,0.0,0.0,0.0,0.0,Mrs. Brown's Boys,193,180,BBC One
...,...,...,...,...,...,...,...,...,...,...,...,...
59576,262184,21.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,90,PBS
59577,262184,21.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,90,PBS
59578,262184,21.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,90,PBS
59579,262184,19.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,90,PBS
59580,262184,19.0,0.0,0.0,0.0,0.0,0.0,0.0,Masterpiece Contemporary,307,90,PBS

In [26]:
ml_grouped = ml_df.groupby(by=["show_id"]).agg({'times_watched':'mean',"mood-good":'mean', "mood-fun":'mean', 
                                                   "mood-wow":'mean', "mood-sad":'mean', "mood-so-so":'mean', 
                                                   "mood-bad":'mean', "name":'first', "followers":'mean', 
                                                   "runtime":'mean', "network": 'first'})
ml_grouped

,times_watched,mood-good,mood-fun,mood-wow,mood-sad,mood-so-so,mood-bad,name,followers,runtime,network
show_id,,,,,,,,,,,
70328,6253.193548,0.951613,0.080645,0.419355,0.016129,0.032258,0.225806,The Young and the Restless,16258,45,CBS
70329,239380.363636,700.454545,1254.000000,118.545455,3.272727,11.272727,4.636364,My Wife and Kids,296084,25,ABC (US)
70334,24.487544,0.017794,0.000000,0.000000,0.000000,0.000000,0.000000,The Tonight Show Starring Johnny Carson,177,45,NBC
70336,84.091324,0.000000,0.004566,0.000000,0.004566,0.000000,0.000000,The Tonight Show with Jay Leno,383,45,NBC
70360,107.666667,0.833333,0.833333,1.166667,0.000000,0.000000,0.000000,The Day Today,163,30,BBC Two
...,...,...,...,...,...,...,...,...,...,...,...
370139,4236.375000,22.125000,0.125000,8.000000,0.000000,2.375000,1.750000,War of the Worlds (2019),11048,50,FOX
370277,96.166667,3.166667,0.000000,0.333333,0.000000,0.666667,0.166667,Why We Hate,380,45,Discovery
370467,841.000000,1.750000,0.000000,5.250000,0.000000,0.750000,0.000000,Unnatural Selection,1652,65,Netflix
370471,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Steven Universe Future,480,10,Cartoon Network
371610,162.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,V Wars,30540,60,Netflix

In [27]:
X = ml_grouped.drop(columns=["name","network", "times_watched", "followers", "runtime"])
X

          mood-good     mood-fun    mood-wow  mood-sad  mood-so-so  mood-bad
show_id
70328      0.951613     0.080645    0.419355  0.016129    0.032258  0.225806
70329    700.454545  1254.000000  118.545455  3.272727   11.272727  4.636364
70334      0.017794     0.000000    0.000000  0.000000    0.000000  0.000000
70336      0.000000     0.004566    0.000000  0.004566    0.000000  0.000000
70360      0.833333     0.833333    1.166667  0.000000    0.000000  0.000000
...             ...          ...         ...       ...         ...       ...
370139    22.125000     0.125000    8.000000  0.000000    2.375000  1.750000
370277     3.166667     0.000000    0.333333  0.000000    0.666667  0.166667
370467     1.750000     0.000000    5.250000  0.000000    0.750000  0.000000
370471     0.000000     0.000000    0.000000  0.000000    0.000000  0.000000
371610     0.000000     0.000000    0.000000  0.000000    0.000000  0.000000

[3797 rows x 6 columns]

In [28]:
X.loc[(X!=0).any(axis=1)]

          mood-good     mood-fun    mood-wow  mood-sad  mood-so-so  mood-bad
show_id
70328      0.951613     0.080645    0.419355  0.016129    0.032258  0.225806
70329    700.454545  1254.000000  118.545455  3.272727   11.272727  4.636364
70334      0.017794     0.000000    0.000000  0.000000    0.000000  0.000000
70336      0.000000     0.004566    0.000000  0.004566    0.000000  0.000000
70360      0.833333     0.833333    1.166667  0.000000    0.000000  0.000000
...             ...          ...         ...       ...         ...       ...
370083     6.166667     2.500000    0.000000  0.000000    0.166667  0.000000
370084     1.125000     0.000000    0.750000  0.000000    0.250000  0.000000
370139    22.125000     0.125000    8.000000  0.000000    2.375000  1.750000
370277     3.166667     0.000000    0.333333  0.000000    0.666667  0.166667
370467     1.750000     0.000000    5.250000  0.000000    0.750000  0.000000

[3677 rows x 6 columns]

In [29]:
y = ml_grouped[["network"]]
y

                 network
show_id
70328                CBS
70329           ABC (US)
70334                NBC
70336                NBC
70360            BBC Two
...                  ...
370139               FOX
370277         Discovery
370467           Netflix
370471   Cartoon Network
371610           Netflix

[3797 rows x 1 columns]

In [30]:
y_label = LabelEncoder().fit_transform(y['network'])
y_label

array([ 3,  0, 10, ..., 11,  4, 11])

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y_label, random_state=1)

In [32]:
X_train

,mood-good,mood-fun,mood-wow,mood-sad,mood-so-so,mood-bad
show_id,,,,,,
166061,10.375000,2.000000,6.625000,0.000000,0.750000,0.250000
354735,120.400000,9.100000,67.900000,1.800000,7.500000,1.500000
77761,5.500000,7.409091,0.636364,0.000000,0.045455,0.045455
83221,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000
350864,9809.500000,141.300000,6718.100000,103.100000,964.100000,159.000000
...,...,...,...,...,...,...
314324,614.833333,149.166667,97.500000,7.666667,97.333333,24.666667
77826,6.142857,2.000000,0.857143,0.000000,0.214286,0.000000
79185,2.000000,0.000000,6.200000,0.000000,0.200000,0.000000
72277,31.130435,0.304348,8.347826,0.521739,0.608696,0.130435
78886,102.500000,4.900000,31.900000,0.200000,1.600000,0.300000

In [33]:
X_test

           mood-good   mood-fun    mood-wow  mood-sad  mood-so-so  mood-bad
show_id
325925     45.000000   4.090909    3.818182  0.000000    6.272727  2.000000
76831       0.925926   0.074074    0.000000  0.000000    1.000000  0.000000
164011    121.076923   1.076923   23.923077  0.461538    2.615385  0.538462
350068   1053.050000   8.100000  167.150000  1.200000   37.650000  8.650000
276840    262.666667  25.500000  269.833333  4.500000   54.166667  9.666667
...              ...        ...         ...       ...         ...       ...
75661      14.250000   1.500000    5.250000  0.062500    1.250000  0.125000
72851       0.012658   0.000000    0.000000  0.000000    0.000000  0.000000
292856     22.833333   1.166667    6.166667  0.333333    0.666667  0.166667
259702    203.750000   6.125000   52.625000  0.500000   10.875000  2.125000
74647     281.692308  41.076923   28.538462  1.076923    2.846154  2.615385

[950 rows x 6 columns]

In [34]:
y_train

array([ 8, 11,  3, ...,  1,  3, 10])

In [35]:
y_test

array([ 7,  3,  7,  3,  2, 10, 11, 12,  4,  2,  4, 11, 10,  1,  7, 10, 12,
        1,  1,  8,  3, 12,  0,  2,  4,  0,  1, 11, 11, 10,  8, 14, 11,  0,
        2,  0,  2, 11, 11,  1,  0, 12, 14,  7,  3,  1,  0,  1,  4, 13, 11,
        7,  3, 14, 10,  7,  0, 11,  5,  0, 11, 10,  1,  0,  3, 11,  1,  7,
        6,  0,  0, 11,  3,  0,  2, 10,  5, 11, 12,  0,  7,  3,  1,  0, 11,
        3,  2,  7, 10,  9, 10, 11, 10,  4, 11, 10, 10,  3,  8, 11,  2, 13,
        7,  9, 11,  1, 10, 10, 13, 12, 12, 10,  3,  3, 11,  8, 11, 11,  1,
        4, 12,  7,  0,  0,  0,  3,  1,  7,  1, 11, 10, 10, 11,  5,  1,  3,
        3,  4,  4,  7, 10,  1,  2,  2,  3, 11,  3, 10, 10, 11, 11,  8, 11,
        6,  3,  8,  1,  6,  3,  3,  5,  2, 11, 10,  1, 14,  3,  0, 10,  8,
       11,  0,  0, 10, 13,  2, 11, 12,  8,  0, 12,  7, 13,  2,  4, 10,  2,
       10,  7,  3, 11, 11, 11, 14,  1, 14, 10,  3,  7,  7, 11,  1,  3, 13,
       10,  1,  7,  0,  1, 10,  8, 11,  6,  0,  1,  3,  3,  4,  8, 10, 14,
       10,  3,  8,  9,  0,  4, 11, 13,  5,  3,  0, 14, 11,  5,  1,  0,  5,
       11,  8, 13,  0,  0,  1,  2,  7, 14, 11,  0,  7,  6,  6,  0,  0,  7,
       12,  2,  0,  2,  5, 11,  3,  0,  1,  9, 12,  0,  1, 11, 11,  1,  1,
        3,  3,  8, 10, 11,  3,  2,  0,  6, 10,  9,  3, 11,  5,  3,  7, 10,
        0,  0,  4,  4,  9, 10, 10,  2,  4, 10, 12, 14,  3, 10, 11,  3,  0,
        7,  0,  3, 14,  7, 10, 12,  2,  5,  1, 10,  7, 10, 11,  0,  3,  3,
       14,  8,  5,  7, 11,  7, 11,  6,  8, 10,  2, 13, 11,  9,  0,  9, 11,
        6,  1,  7,  3, 10, 10, 14,  4,  2, 11, 11,  0,  7,  0,  0, 11, 13,
        1,  6, 10,  3, 11, 14,  4, 10,  8,  0,  7,  7, 10,  7,  2,  8,  1,
        6, 11,  9,  0, 11,  1,  1,  0,  7,  0, 10, 11, 10,  3,  1,  9,  5,
        3, 11, 12,  6, 10,  9, 11, 10,  2,  5,  0,  8, 12, 14, 11,  0, 12,
       10,  2,  4,  7,  3,  2,  4, 12,  2,  6, 12,  9, 10,  3,  3, 11, 11,
        0, 12,  3, 11,  2, 11,  3,  3, 11, 11,  1,  7, 11, 11,  9,  0, 11,
       11, 11,  8,  8,  7,  3,  3,  3, 10, 10, 14,  3,  1,  0,  7, 11,  0,
        2,  7,  5, 14,  7,  8, 10, 10,  7,  0,  7,  1, 10,  1,  1,  2,  3,
        0, 11,  1,  0, 11, 10,  1, 10,  1,  3, 12, 10,  7, 10,  2, 14,  0,
        6,  3,  2,  1,  6,  5, 11,  0,  3,  1,  7,  7,  1,  6,  7,  2,  1,
       12,  1, 14, 10, 12,  7, 11,  2,  7,  5,  0, 11, 14, 11, 11,  9,  0,
        8,  1,  7, 11, 11,  8, 12, 14,  0,  8,  3, 10, 11, 10,  3,  1,  1,
       11,  1,  0, 11,  3,  7, 11, 11,  0,  9, 11, 10,  1, 11, 10,  1, 10,
       10,  2,  1,  5,  0,  0,  6,  1, 10,  0,  5,  2,  2,  3,  0,  3,  0,
        1, 13,  5,  1,  7,  2, 10,  7, 11,  9, 11, 10,  7,  2,  4, 12,  1,
        0,  5,  1, 13,  0, 12,  6,  2, 11,  1,  0,  7,  7, 10,  3,  6,  0,
        4, 11,  1, 12, 10, 10,  2,  0,  2, 11, 11, 10, 10,  8,  1,  2,  8,
        7,  5, 11,  3,  3, 10, 13,  3, 13, 10,  3,  7, 10,  0, 11, 11,  3,
       12, 11,  3, 11, 10,  0, 14, 11,  3, 10, 11,  3, 14,  7,  8,  1, 11,
        0, 10,  3,  2,  4,  1,  1,  7,  4, 11,  7,  0, 12, 10,  7,  3,  1,
       10, 11, 14, 12, 14,  3, 11, 11,  3, 10,  7, 11,  0,  4,  0, 10, 11,
        8,  9,  5,  0,  5, 10,  5, 10,  2, 11, 14,  3,  3, 11,  0,  0, 11,
        8,  3, 11,  2,  2,  9, 11,  7,  1, 11,  5,  3, 12,  7,  6,  7,  3,
        1,  6,  9,  0,  8,  9,  7,  2,  4,  3,  2, 13, 11,  1,  7, 10,  4,
        1,  7,  4,  1,  3,  2, 11,  0,  0,  0,  3, 11,  0,  8,  1,  1,  1,
        7,  7,  9,  3,  2,  7,  7, 11, 10,  9,  2, 11,  5,  2,  2,  6,  4,
        4,  0, 10,  0,  3,  3, 10,  7,  3, 10, 11,  0,  8,  9,  2, 14,  7,
        7,  8,  2,  9,  4,  4, 11,  1, 11,  4,  4,  6,  1,  3,  2, 10, 10,
       10, 11,  9,  4,  7,  7,  0,  2,  3,  4,  4,  1,  3, 11,  3, 10,  2,
        0, 11, 10, 11, 11,  3, 10,  7,  1,  2, 11, 10, 13, 11, 11,  0,  3,
        3, 11, 11, 11,  3,  0,  0,  2,  0,  4,  8,  3, 13,  3,  4,  1, 11,
        0, 11,  3, 12, 11, 11,  3,  4,  3, 10, 10,  3,  6,  7,  8,  1, 11,
       13, 10,  6,  0,  2,  0,  5, 10,  7,  7, 10, 10,  0, 10, 10, 11, 11,
       10, 10,  8, 11,  4, 11, 11,  7, 11,  0,  1,  4,  3,  0, 13, 14,  0,
       10,  7,  5,  1, 12, 10,  9,  0,  1,  0,  1,  2, 10,  8, 11, 11, 13,
       11,  1,  0,  4, 10,  2,  1,  8,  1,  1,  0,  1,  1,  1, 12])

In [36]:
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_train_scaled

array([[-0.2283293 , -0.1600972 , -0.09042344, -0.05221907, -0.19855062,
        -0.14377754],
       [-0.13962556, -0.13601462, -0.06634083, -0.04182919, -0.10366606,
        -0.09756908],
       [-0.2322596 , -0.14175004, -0.09277713, -0.05221907, -0.2084544 ,
        -0.15133892],
       ...,
       [-0.23508135, -0.16688103, -0.09059048, -0.05221907, -0.20628196,
        -0.15301923],
       [-0.21159597, -0.1658487 , -0.08974633, -0.04920751, -0.20053693,
        -0.14819748],
       [-0.1540568 , -0.15026065, -0.08048973, -0.05106464, -0.1866022 ,
        -0.1419292 ]])

In [37]:
X_test_scaled = scaler.transform(X_test)
X_test_scaled

array([[-0.20041413, -0.15300502, -0.09152659, -0.05221907, -0.1209178 ,
        -0.07908569],
       [-0.23594728, -0.16662977, -0.09302723, -0.05221907, -0.19503638,
        -0.15301923],
       [-0.13907982, -0.1632282 , -0.08362486, -0.049555  , -0.17232896,
        -0.13311405],
       ...,
       [-0.21828522, -0.16292379, -0.09060358, -0.05029502, -0.19972204,
        -0.1468581 ],
       [-0.07242759, -0.14610556, -0.07234428, -0.04933299, -0.05622378,
        -0.07446485],
       [-0.00958937, -0.02755169, -0.0818109 , -0.0460029 , -0.16908505,
        -0.05633691]])

In [38]:
print(X_test_scaled.shape, y_test.shape, X_train_scaled.shape, y_train.shape)

(950, 6) (950,) (2847, 6) (2847,)

### Logistic Regression

In [39]:
classifier = LogisticRegression(max_iter = 2000)
classifier

LogisticRegression(max_iter=2000)

In [40]:
# Fit the model
classifier.fit(X_train_scaled, y_train)

LogisticRegression(max_iter=2000)

In [41]:
# Display Training & Testing Score
print(f"Training Data Score (Logistic Regression Model): {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score (Logistic Regression Model): {classifier.score(X_test_scaled, y_test)}")

Training Data Score (Logistic Regression Model): 0.15876361081840534
Testing Data Score (Logistic Regression Model): 0.15157894736842106

In [42]:
# Predict Y values using the model
y_pred_lr = classifier.predict(X_test_scaled)
y_pred_lr

array([11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
        3, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11,  3, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11,  3, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,  1, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11])

In [43]:
[[30, 40, 50, 12, .5]]

[[30, 40, 50, 12, 0.5]]

In [44]:
print(classification_report(y_test, y_pred_lr))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       108
           1       0.00      0.00      0.00        93
           2       0.00      0.00      0.00        64
           3       0.00      0.00      0.00       102
           4       0.00      0.00      0.00        41
           5       0.00      0.00      0.00        28
           6       0.00      0.00      0.00        25
           7       0.00      0.00      0.00        82
           8       0.00      0.00      0.00        38
           9       0.00      0.00      0.00        26
          10       0.00      0.00      0.00       114
          11       0.15      0.98      0.26       147
          12       0.00      0.00      0.00        34
          13       0.00      0.00      0.00        20
          14       0.00      0.00      0.00        28

    accuracy                           0.15       950
   macro avg       0.01      0.07      0.02       950
weighted avg       0.02      0.15      0.04       950

C:\Users\Jay D\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Jay D\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Jay D\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### Random Forests

In [45]:
# Train a Random Forest Classifier model and print the model score
clf = RandomForestClassifier(random_state=1, n_estimators=100).fit(X_train_scaled, y_train)